{% extends 'layouts.html'%}

{% block body %}
    <h1>Please Sign Up</h1>
    <div class="well">
        <form>
            <div class="form-group">
                <label for="email">Name:</label>
                <input type="email" class="form-control" id="usr">
            </div>
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="email">Username:</label>
                <input type="email" class="form-control" id="usr">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="email">Confirm Password:</label>
                <input type="email" class="form-control" id="pwd">
            </div>
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
        </form>
        <button class="btn-info btn-lg">Sign Up</button>
    </div>

{% endblock %}